<!DOCTYPE html>
<html>
  <head>
    <title>Fasebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path("favicon.ico") %> 
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta property="og:title" content="Fasebook" />
    <meta property='og:image' content="<%= image_url('splash_page2.png') %>"/>
    <meta property="og:description"
      content="Fasebook is a fully-responsive, near pixel-perfect clone of the popular social media app Facebook. Create your account and start your social network today. Fasebook is built by Inho Lee using React/Redux and Ruby on Rails."
    />
    <meta property="og:url"
      content="https://fasebook-clone.herokuapp.com/"
    />

    <script type="text/javascript">
      window.personalPic = "<%= image_url('inho-pic.png') %>"
      window.wizrdPic = "<%= image_url('wizrd.png') %>"
      window.chatPic = "<%= image_url('3Dchat.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
